.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: inherit;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
  margin: 0;
}

.nav-links a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #7b61ff;
}

.cv-button {
  padding: 10px 14px;
  background: transparent;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}

.cv-button:hover {
  background-color: #7b61ff;
  color: white;
}
.theme-toggle {
  background: transparent;
  border: 1px solid #ccc;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
  transition: background-color 0.3s;
  margin-top: 18px
}

.theme-toggle:hover {
  background-color: #7b61ff;
  color: white;
}

@media (max-width: 768px) {
  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
}


.app.dark .cv-button {
  border-color: white;
  color: white;
}

.app.dark .cv-button:hover {
  background-color: #7b61ff;
  color: white;
}

.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  margin-left: auto;
}


@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .navbar {
    align-items: stretch;
  }
}